body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html, .App{
  background-color: #e9ecef;
}

 /* My class */

 .cardTitle{
  font-size: 1.55em;
 }

 .info{
  color: #6c757d;
  font-size: .875em;
 }

 .round-btn{
  border-radius: 50% !important;
  background-color: #e1e4e7 !important;
  border-color: #e1e4e7 !important;
  color: black !important;
 }

 .HomeTitle{
   padding: 30px;
   
 }
 
 .pageTitle{
   padding: 15px;
 }